<launch>
  <arg name="root_ns" default=""/>
  <param name="use_sim_time" value="true"/>

  <include file="$(find exploration_gazebo)/launch/start_world.launch">
    <arg name="world_name" value="$(find exploration_gazebo)/worlds/hurricanes.world"/>
    <arg name="engine" value="ode"/>
    <arg name="root_ns" value="$(arg root_ns)"/>
  </include>

</launch>
